$alfa_friendly_red: #FF5C5C;
$alfa_friendly_yellow: #FEE984;
$alfa_friendly_blue: #7EB3FF;
$alfa_primary-blue: #1976d2;
$alfa_friendly_indigo: #7879CF;
$alfa_friendly_violet: #A489AA;
$alfa_friendly_pink: #F8B6A9;
$alfa_friendly_grey: #D9D6CE;
$alfa_friendly_brow: #E8D0B9;
$alfa_friendly_light_blue: #CADDF2;
$alfa_friendly_light_violet: #BFAFC6;
$alfa_friendly_unknow: #BFD3C9;
$alfa_friendly_turquoise: #43D0C4;
$alfa_friendly_background_ultra_light: #FFFFFF;
$alfa_friendly_background_light: #E9EEF4;
$alfa_friendly_background_medium: #ADB2BD;
$alfa_friendly_background_hard: #232B34;
$alfa_friendly_white: #FFF;
$alfa_friendly_succes: #4CAF50;